<% @number = 2 %>
<% @title = t 'page.contact.title' %>

<% content_for :content do %>
  <div class="text">

  </div>

  <div class="left">
    <h2></h2>
    <div class="text">

    </div>
  </div>
  <div class="right">
    <h2></h2>
    <div class="text">

    </div>
  </div>
<% end %>
