<% content = capture do %>
  <div class="text">

  </div>

  <div class="left">
    <h2></h2>
    <div class="text">

    </div>
  </div>
  <div class="right">
    <h2></h2>
    <div class="text">

    </div>
  </div>
<% end %>

<%= render 'layouts/header',
  first_header: false,
  number: 2,
  title: t('page.contact.title'),
  right_box: nil,
  content: content
%>
