<%
@first_header = false
@number = 0
@title = t 'page.'
@right_box = nil
%>

<% @right_box = capture do %>
<% end %>

<% @content = capture do %>
  <div class="left">
    <h2></h2>
    <div class="text">

    </div>
  </div>
  <div class="right">
    <h2></h2>
    <div class="text">

    </div>
  </div>

  <h2></h2>
  <div class="text">

  </div>
<% end %>
