<!-- left side -->
<div class="menu_arrow_container menu_end_left" id="menu_arrow_speaker">
  <div class="menu_bg_left">
    <div class="arrow_gradient_dimensions arrow_gradient_left">
      Prelegenci
    </div>
  </div>
  <div class="menu_arrow_dimensions menu_arrow_left"></div>
</div>

<div class="menu_arrow_container menu_end_left active_left_arrow" id="menu_arrow_schedule">
  <div class="menu_bg_left">
    <div class="arrow_gradient_dimensions arrow_gradient_left">
      Agenda
    </div>
  </div>
  <div class="menu_arrow_dimensions menu_arrow_left"></div>
</div>

<!-- right side -->
<div class="menu_arrow_container menu_end_right" id="menu_arrow_organizers">
  <div class="menu_arrow_dimensions menu_arrow_right"></div>
  <div class="menu_bg_right">
    <div class="arrow_gradient_dimensions arrow_gradient_right">
      Organizatorzy
    </div>
  </div>
</div>

<div class="menu_arrow_container menu_end_right active_right_arrow" id="menu_arrow_sponsors">
  <div class="menu_arrow_dimensions menu_arrow_right"></div>
  <div class="menu_bg_right">
    <div class="arrow_gradient_dimensions arrow_gradient_right">
      Sponsorzy
    </div>
  </div>
</div>
