<% content = capture do %>
  <div class="box text">
    <table class="schedule">
      <tr class="header">
        <td class="topic"></td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        <td>20</td>
      </tr>
      <tr class="row">
        <td class="topic">Temat</td>
        <td><div class="relative"><div class="strap" onclick="jump_to_speaker(this, '#speaker_id')"><div class="dot"></div></div></div></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="row gray_bg">
        <td class="topic">Temat 2, Temat 2, Temat 2, Temat 2, Temat 2, Temat 2, Temat</td>
        <td><div class="relative"><div class="strap" onclick="jump_to_speaker(this, '#speaker_id')" style="width:147px;margin-left:41px;"><div class="dot"></div></div></div></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="row">
        <td class="topic">Temat</td>
        <td><div class="relative"><div class="strap" onclick="jump_to_speaker(this, '#speaker_id2')" style="width:147px;"><div class="dot"></div></div></div></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="row gray_bg">
        <td class="topic">Temat</td>
        <td><div class="relative"><div class="strap" onclick="jump_to_speaker(this, '#speaker_id')" style="width:392px;"><div class="dot"></div></div></div></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
<% end %>

<%= render 'layouts/header',
  first_header: false,
  number: 3,
  id: 'schedule',
  title: t('page.schedule.title'),
  right_box: nil,
  content: content
%>
