<% @number = 1 %>
<% @title = t 'page.what_where_how.title' %>

<% content_for :right_box do %>
<div class="fb-like" data-href="http://www.facebook.com/KrakDroid" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
<% end %>

<% content_for :content do %>
  <div class="left">
    <h2>Czym jest KrakDroid</h2>
    <div class="text">
      left description
    </div>
  </div>
  <div class="right">
    <h2>Czym jest KrakDroid</h2>
    <div class="text">
      right description
    </div>
  </div>
<% end %>
