<% @number = 1 %>
<% @title = t 'page.what_where_how.title' %>

<% content_for :right_box do %>
  right box
<% end %>

<% content_for :content do %>
<div class="left">
  <h2>Czym jest KrakDroid</h2>
  <div class="text">
    left description
  </div>
</div>
<div class="right">
  <h2>Czym jest KrakDroid</h2>
  <div class="text">
    right description
  </div>
</div>
<% end %>
