<% right_box = capture do %>
  <div class="social_buttons">
    <!-- facebook -->
    <div class="facebook_button">
      <div class="fb-like" data-href="http://www.facebook.com/KrakDroid" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
    </div>

    <!-- google plus -->
    <div class="google_plus_button">
      <div class="g-plusone" data-size="medium" data-annotation="none" data-href="https://plus.google.com/101136791804282588345"></div>
    </div>

    <!-- twitter -->
    <div class="twitter_button">
      <a href="https://twitter.com/KrakDroid" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @KrakDroid</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
<% end %>

<% content = capture do %>
  <div class="left">
    <h2><%= t 'page.what_where_how.what_is_krakdroid_title' %></h2>
    <div class="text">
      <%= t 'page.what_where_how.conference_description_html' %>
    </div>

    <h2>Twitter</h2>
    <div class="text">
      <a class="twitter-timeline" href="https://twitter.com/search?q=krakdroid" data-widget-id="372263815611555840">Tweety o "krakdroid"</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
  <div class="right">
    <h2>Facebook</h2>
    <div class="text">
      <div class="fb-like-box" data-href="https://www.facebook.com/KrakDroid" data-width="423" data-show-faces="true" data-border-color="#ffffff" data-stream="true" data-header="false"></div>
    </div>
  </div>
<% end %>

<%= render 'layouts/header',
  first_header: true,
  number: 1,
  id: 'what_where_how',
  title: t('page.what_where_how.title'),
  right_box: right_box,
  content: content
%>
