<div class="container">
  <div class="container_inner">
    <div class="logo_div"></div>

    <div class="header_side_container">
      <div class="header_side_left"></div>
      <div class="header_side_right"></div>
    </div>
    <div class="txt_bottom_shadow">
      <div class="header_1st">
        <div class="white_header">
          <div class="number" id="1">
            1
          </div>
          <div class="title">
            <div class="right_box">
              right box
            </div>
            <h1>Co? Gdzie? Jak?</h1>
          </div>
        </div>
        <div class="content">
          <div class="left">
            <h2>Czym jest KrakDroid</h2>
            <div class="text">
              left description
              left description
              left description
              left description
              left description
              left description
            </div>
          </div>
          <div class="right">
            <h2>Czym jest KrakDroid</h2>
            <div class="text">
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="header_side_container">
      <div class="header_side_left"></div>
      <div class="header_side_right"></div>
    </div>
    <div class="txt_bottom_shadow">
      <div class="header_n">
        <div class="white_header">
          <div class="number" id="1">
            2
          </div>
          <div class="title">
            <div class="right_box">
              right box
            </div>
            <h1>Co? Gdzie? Jak?</h1>
          </div>
        </div>
        <div class="content">
          <div class="left">
            <h2>Czym jest KrakDroid</h2>
            <div class="text">
              left description
              left description
              left description
              left description
              left description
              left description
            </div>
          </div>
          <div class="right">
            <h2>Czym jest KrakDroid</h2>
            <div class="text">
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
              right description
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="header_side_container">
      <div class="header_side_left"></div>
      <div class="header_side_right"></div>
    </div>
    <div class="txt_bottom_shadow">
      <div class="header_n">
        <div class="white_header">
          <div class="number" id="1">
            3
          </div>
          <div class="title">
            <h1>Co? Gdzie? Jak?</h1>
          </div>
        </div>
        <div class="content">
          <h2>Czym jest KrakDroid</h2>
          <div class="text">
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
            right description
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="footer">
  <div class="footer_container">
    <div class="footer_inner">
      <div class="text_left">
        KrakDroid.pl | <%= t 'footer.text_left' %>
      </div>
      <div class="text_right">
        &copy; All rights reserved | Design by <%= link_to 'Rafał Trzop', 'http://www.rafaltrzop.com' %> | Coding by <%= link_to 'Artur Trzop', 'http://www.webook.pl' %>
      </div>
    </div>
  </div>
</div>
