<div class="container">

</div>
<div class="footer">
  <div class="footer_container">
    <div class="text_left">
      KrakDroid.pl | <%= t 'footer.text_left' %> 
    </div>
    <div class="text_right">
      &copy; All rights reserved | Design by Rafał Trzop | Coding by <%= link_to 'Artur Trzop', 'http://www.webook.pl' %>
    </div>
  </div>
</div>
