@font-face
{
  font-family: RobotoRegular;
  src: font-url('/fonts/Roboto-Regular.ttf'),
  font-url('/fonts/Roboto-Regular.eot'); /* IE9 */
}

@font-face
{
  font-family: RobotoBold;
  src: font-url('/fonts/Roboto-Bold.ttf'),
  font-url('/fonts/Roboto-Bold.eot'); /* IE9 */
}
