// variables
$container_with: 1024px;
$inner_width: 960px;
$container_padding: 38px;
$white_header_padding_left: 30px; // 30px is width between left corner and white circle
$white_header_padding_top: 22px; // distance between top black corner and white text
$number_width: 30px; // white circle width
$title_padding_left: 15px;
$font_green: #60a600;

body {
  margin: 0;
  padding: 0;
  font-family: RobotoRegular;
  font-size: 14px;
}

.container {
  overflow: hidden;
  margin: 0 auto;
  width: $container_with;
  background: image-url('layout/vertical_pattern.png') repeat-y;

  .container_inner {
    width: $inner_width;
    float: right;

    .logo_div {
      background: image-url('layout/logo.png');
      height: 577px;
    }

    .txt_bottom_shadow {
      background: image-url('layout/txt_bottom_shadow.png') bottom no-repeat;
      min-height: 153+66px;

      .header_1st {
        height: 153px;
        background: image-url('layout/header_1st.png')
      }

      .header_n {
        height: 153px;
        background: image-url('layout/header_n.png')
      }

      .white_header {
        padding: 0 $container_padding 0 $white_header_padding_left;
        font-family: RobotoBold;
        font-size: 18px;
        color: #fff;
        overflow: hidden;
        padding-top: $white_header_padding_top;
        height: 85px - $white_header_padding_top;

        .number {
          float: left;
          width: $number_width;
          text-align: center;
        }

        .title {
          float: left;
          padding-left: $title_padding_left;
          width: $inner_width - $white_header_padding_left - $number_width - $title_padding_left - $container_padding;

          .right_box {
            float: right;
            min-width: 10px;
          }
        }
      }

      .content {
        padding: 0 $container_padding;
        padding-bottom: 30px;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 64px;
  background: image-url('layout/footer2.png');
  margin-top: -12px;
  position: relative;
}

.footer_container {
  margin: 0 auto;
  padding-top: 30px;
  width: $container_with;
  font-family: RobotoBold;
  font-size: 14px;
  text-shadow: 1px 1px #add600;
  color: #60a600;

  .footer_inner {
    width: $inner_width - 2*$container_padding;
    padding: 0 $container_padding;
    float: right;
  }

  .text_left {
    float: left;
  }

  .text_right {
    float: right;
  }

  a {
    color: $font_green;
    text-decoration: none;
  }
}
