// variables
$header_side_width: 23px;
$container_with: 1024px + $header_side_width;
$inner_width: 960px;
$container_padding: 30px;
$white_header_padding_left: 30px; // 30px is width between left corner and white circle
$white_header_padding_top: 22px; // distance between top black corner and white text
$number_width: 30px; // white circle width
$title_padding_left: 15px;
$footer_margin_top: 12px;

// colors
$green: #60a600;
$gray: #999;
$gray_underline: #b2b2b2;

// css
body {
  margin: 0;
  padding: 0;
  font-family: RobotoRegular;
  font-size: 14px;
}

.container {
  overflow: hidden;
  margin: 0 auto;
  width: $container_with;
  background: image-url('layout/vertical_pattern.png') repeat-y;

  .container_inner {
    width: $inner_width;
    float: right;
    margin-right: $header_side_width;

    .logo_div {
      background: image-url('layout/logo.png');
      height: 577px;
    }

    .header_side_container {
      position: relative;
      overflow: visible;
      width: 100%;

      .header_side_left {
        background: image-url('layout/header_side_l.png');
        width: $header_side_width;
        height: 83px;
        position: absolute;
        top: -22px;
        left: -$header_side_width;
      }

      .header_side_right {
        background: image-url('layout/header_side_r.png');
        width: $header_side_width;
        height: 84px;
        position: absolute;
        top: 7px;
        right: -$header_side_width;
      }
    }

    .txt_bottom_shadow:last-child {
      padding-bottom: $footer_margin_top;
    }

    .txt_bottom_shadow {
      background: image-url('layout/txt_bottom_shadow.png') bottom no-repeat;
      min-height: 153+66px;
      position: relative;
      overflow: hidden;

      .header_1st {
        height: 153px;
        background: image-url('layout/header_1st.png');
      }

      .header_n {
        height: 153px;
        background: image-url('layout/header_n.png');
      }

      .white_header {
        padding: 0 $container_padding 0 $white_header_padding_left;
        font-family: RobotoBold;
        font-size: 18px;
        color: #fff;
        overflow: hidden;
        padding-top: $white_header_padding_top;
        height: 82px - $white_header_padding_top;

        .number {
          float: left;
          width: $number_width;
          text-align: center;
        }

        .title {
          float: left;
          padding-left: $title_padding_left;
          width: $inner_width - $white_header_padding_left - $number_width - $title_padding_left - $container_padding;

          h1 {
            font-family: RobotoBold;
            font-size: 18px;
            font-weight: normal;
            display: inline;
          }

          .right_box {
            float: right;
            min-width: 10px;

            .facebook_button {
              float: right;
              overflow: visible;
            }

            .google_plus_button {
              float: right;
              padding-right: 10px;
            }

            .twitter_button {
              float: right;
              padding-right: 10px;
            }
          }
        }
      }

      .content {
        padding: 0 $container_padding;
        padding-bottom: 30px;
        padding-right: 38px;

        .left {
          float: left;
          width: 431px;
        }

        .right {
          float: right;
          width: 431px;
        }

        h2 {
          margin: 0 0 14px 0;
          padding: 0 8px 2px 8px;
          text-transform: uppercase;
          color: $gray;
          font-family: RobotoBold;
          font-size: 14px;
          text-decoration: none;
          font-weight: normal;
          border-bottom: 2px solid $gray_underline;
          width: 328px - 8px - 8px; // minus paddings
        }

        .text {
          padding-left: 8px;
          padding-bottom: 28px;
          text-align: justify;
        }
      }
    }
  }
}

.footer {
  min-width: $container_with + $header_side_width;
  max-width: 100%;
  height: 64px;
  background: image-url('layout/footer2.png');
  margin-top: -$footer_margin_top;
  position: relative;
}

.footer_container {
  margin: 0 auto;
  padding-top: 30px;
  width: $container_with;
  font-family: RobotoBold;
  font-size: 14px;
  text-shadow: 1px 1px #add600;
  color: #60a600;

  .footer_inner {
    width: $inner_width - 2*$container_padding;
    padding: 0 $container_padding;
    float: right;
  }

  .text_left {
    float: left;
  }

  .text_right {
    float: right;
  }

  a {
    color: $green;
    text-decoration: none;
  }
}
