// variables
$container_with: 1024px;
$font_green: #60a600;

body {
  margin: 0;
  padding: 0;
  font-family: RobotoRegular;
}

.container {
  margin: 0 auto;
  width: $container_with;
  min-height: 200px;
  background: image-url('layout/vertical_pattern.png') repeat-y;
}

.footer {
  width: 100%;
  height: 64px;
  background: image-url('layout/footer2.png');
  margin-top: -12px;
}

.footer_container {
  margin: 0 auto;
  padding-top: 28px;
  width: $container_with;
  font-family: RobotoBold;
  font-size: 14px;
  color: #60a600;

  .text_left {
    float: left;
  }
  
  .text_right {
    float: right;
  }

  a {
    color: $font_green;
    text-decoration: none;
  }
}
